<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>사원 정보 조회</title>
</head>
<body>
	<div>
		<div>
			<label id="empId">사원정보</label>
			<input type="text" id="empId" th:value="${empInfo.employeeId}" readonly>
		</div>
		<div>
			<label id="name">이름</label>
			<input type="text" id="name" 
				th:value="${ #strings.isEmpty(empInfo.firstName) ? 
							 empInfo.lastName : empInfo.firstName + ', ' + empInfo.lastName }" readonly>
		</div>
		<div>
			<label id="email">이메일</label>
			<input type="text" id="email" th:value="empInfo.email" readonly>
		</div>
		<div>
			<label id="hireDate">입사일</label>
			<input type="text" id="hireDate" th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>
			<label id="job">업무</label>
			<input type="text" id="job" th:value="${empInfo.jobId}" readonly>
		</div>
		<br>
		<div>
			<button type="button" th:onclick="|location.href='@{/empList}'|">목록</button>
			&nbsp;<a th:href="@{/empList}">목록</a>
		</div>
	</div>
</body>
</html>